conf.php
classAutoLoad.php
AuthorLists.txt
Plugins
vendor
bookstore-model-view-controller/.env
bookstore-model-view-controller/bootstrap/cache/*
bookstore-model-view-controller/config/*
bookstore-model-view-controller/storage/*